/* Setup */

html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Flex */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

/* Width */

.w-12 {
  width: 3rem;
}

.w-64 {
  width: 16rem;
}

.w-1\/12 {
  width: 8.333333%;
}

.w-2\/12 {
  width: 16.666667%;
}

.w-3\/12 {
  width: 25%;
}

.w-6\/12 {
  width: 50%;
}

.w-full	{
  width: 100%;
}

/* Height */

.h-screen {
  height: 100vh;
}

.h-64 {
  height: 16rem;
}

/* Paddind */

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

/* Margin */
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Colors */

.text-white {
  color: #ffffff;
}

.text-gray-800 {
  color: #2d3748;
}

.text-indigo-900 {
  color: #3c366b;
}

.bg-indigo-900 {
  background-color: #3c366b;
}

.bg-gray-200 {
  background-color: #edf2f7;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}

/* Font Size & Weight */

.text-sm {
  font-size: 0.875rem;
}

.text-lg {
  font-size: 1.125rem;
}

.font-bold {
  font-weight: 700;
}

/* Others */

.overflow-y-auto{
  overflow-y: auto;
}