/* Setup */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Flex */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

/* Width */
.w-1\/12	{
  width: 8.333333%;
}

.w-2\/12	{
  width: 16.666667%;
}

.w-3\/12	{
  width: 25%;
}

.w-4\/12	{
  width: 33.333333%;
}

.w-5\/12	{
  width: 41.666667%;
}

.w-6\/12	{
  width: 50%;
}

.w-7\/12	{
  width: 58.333333%;
}

.w-8\/12	{
  width: 66.666667%;
}

.w-9\/12	{
  width: 75%;
}

.w-10\/12	{
  width: 83.333333%;
}

.w-11\/12	{
  width: 91.666667%;
}

.w-full	{
  width: 100%;
}